:root {
    --main-white: #ffffff;
    --bg-white-secound: #F7F7F7;
    --button-hover: lab(18.37% -0.44 -0.16);
    --carousel-inactive: #838484;
    --carousel-button-hover: #393A3B;
    --main-black-color: lab(2.42579 -0.165291 -0.470081);
    --lite-black-color: lab(2.42579 -0.165291 -0.470081 / 0.8);
    --footer-heading: lab(2.42579 -0.165291 -0.470081 / 0.5);
    --green-background: lab(51.3415 -41.5657 15.3527);
    --batch-font-size: 14px;
    --batch-font-weight: 500;
    --batch-line-height: 21px;
    --small-heading-font-size: 12px;
    --main-heading-font-size: 40px;
    --main-subheading-font-size: 16px;

}

@font-face {
    font-family: 'Giest mono';
    src: url('/font/797e433ab948586e-s.p.dbea232f.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'inter';
    src: url('/font/InterVariable-s.p.494bb210.ttf') format('truetype');
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--main-white);
    font-family: 'inter';
}

header {
    padding: 16px 24px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 90;
    background-color: #ffffff25;
    backdrop-filter: blur(1px);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 66rem;
    gap: 32px;
    width: 100%;
    margin: 0 auto;
}

.header-container .logo-links {

    display: flex;
    align-items: center;
    gap: 168px;
}

.header-container .logo-links .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container .logo-links .logo img {
    width: 104px;
    height: 24px;
}

.header-container .logo-links nav ul {
    display: flex;
    align-items: center;
    gap: 4px;
    list-style-type: none;
}

.header-container .logo-links nav ul a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 500;
    color: var(--main-white);
}

.header-container .logo-links nav ul li {
    padding: 4px 12px;
    border-radius: 50px;
}

.header-container .header-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.header-container .header-button button {
    padding: 4.5px 12px;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 500;
    border: 0;
    font-family: 'inter';
    border: 1px solid #ffffff0c;
    line-height: 22px;
}

.header-container .header-button button:nth-child(1) {
    color: var(--main-white);
    background-color: #ffffff0c;
}

.after-header {
    width: 100%;
    padding: 16px 24px;
}

.after-header div {
    height: 33.5px;
}

/* main start */
#id-image {
    isolation: isolate;
    position: relative;
}

.hero-section-container {
    position: relative;
}

.hero-section-image {
    background-image: url('landing/bg-light.svg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 1135px;
    width: 100%;
    background-position: 50%;
    position: absolute;
    z-index: -1;
    top: -10rem;
}

.badge {
    position: absolute;
    display: flex;
    left: 50%;
    top: 50px;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: var(--batch-font-weight);
    padding: 4px 8px 4px 4px;
    background-color: lab(2.42579 -0.165291 -0.470081 / 0.15);
    border-radius: 60px;
    color: var(--bg-white-secound);
    cursor: pointer;
}

.badge:hover {
    background-color: lab(2.43% -0.12 -0.47 / 0.112);
}

.badge p,
.badge i {
    font-size: var(--batch-font-size);
    padding: 0;
    margin: 0;
}

.badge p {
    line-height: 21px;
}

.badge span {
    padding: 2px 8px;
    background-color: #0C8C5E;
    border-radius: 30px;
    font-size: 12px;
    line-height: 18px;
}

.badge i {
    background-color: var(--main-white);
    color: var(--main-black-color);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 24px;
    width: 16px;
    height: 16px;
}

.heading {
    padding-top: 104px;
    padding-bottom: 96px;
    color: var(--main-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading h1 {
    max-width: 43rem;
    text-align: center;
    width: 100%;
    font-weight: 600;
    line-height: 62px;
    letter-spacing: -1px;
    font-size: 54px;
}

.heading p {
    margin-top: 24px;
    text-align: center;
    max-width: 29.5rem;
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
}

.heading form {
    margin-top: 32px;
    padding: 4px;
    border: 1px solid lab(100 0 0 / 0.15);
    background-color: #ffffff25;
    max-width: 22.5rem;
    width: 100%;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
    height: 44px;
}

.heading form input {
    padding: 0 12px;
    outline: none;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
    border: 0;
    background-color: transparent;
}

.heading form input::placeholder {
    color: #ffffff85;

}

::-webkit-input-placeholder {
    font-weight: 600;
}

.heading form button {
    padding: 4.5px 12px;
    background-color: var(--main-white);
    color: var(--main-black-color);
    font-size: 15px;
    font-weight: 500;
    border: 0;
    border-radius: 40px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 6px;
}

.hero-image {
    max-width: 67.5rem;
    margin: 0 auto;
    position: relative;
}

.hero-image div {
    border: 2px solid transparent;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
}

.hero-image div img {
    mask-image: linear-gradient(black 60%, transparent);
}

.company-image-main-container {
    padding: 72px 32px 144px 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.company-image-main-container .company-image {
    max-width: 1000px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 8px;
    row-gap: 28px;
    justify-content: space-between;
    place-items: center;
}

.company-image-main-container .company-image .image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    width: 100%;
}

.intelligence-main-container {
    max-width: 64rem;
    margin: 0 auto;
    margin-bottom: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.intelligence-heading {
    padding: 48px 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.intelligence-heading h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: -1px;
}

.intelligence-heading p {
    max-width: 38rem;
    text-align: center;
    color: var(--lite-black-color);
    font-size: 16px;
    line-height: 24px;
}

.intell-text-main-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.intell-text-main-container .two-column {
    display: flex;
    gap: 24px;
}

.intell-text-main-container .two-column .first,
.intell-text-main-container .two-column .secound {
    padding: 6px;
    border: 1px solid #d4d4d481;
    border-radius: 20px;
    flex-basis: 50%;
}

.intell-text-main-container .two-column .first .content,
.intell-text-main-container .two-column .secound .content {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.two-column .first .content span,
.two-column .secound .content span,
.one-column .one-column-text span,
.customer-content span {
    font-size: 12px;
    color: var(--green-background);
    font-family: 'Giest mono';
    font-weight: 500;
    letter-spacing: -0.1px;
    line-height: 18px;
    text-transform: uppercase;
}

.two-column .first .content h3,
.two-column .secound .content h3,
.one-column .one-column-text h3 {
    font-size: 24px;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: -0.2px;
}

.two-column .first .content p,
.two-column .secound .content p,
.one-column .one-column-text p {
    font-size: 16px;
    line-height: 24px;
    color: var(--lite-black-color);
}

.first .diagram img {
    width: 100%;
    height: 100%;
}

.intell-text-main-container .one-column {
    width: 100%;
    border: 1px solid #d4d4d481;
    border-radius: 20px;
    overflow: hidden;

}

.one-column-text {
    padding: 48px 32px;
    display: flex;
    align-items: center;
    margin: 6px 6px 0 6px;
    flex-direction: column;
    gap: 16px;
}

.one-column-text p {
    max-width: 34rem;
    text-align: center;
}

.enterprise-main-container {
    padding: 96px 0;
    width: 100%;
    background-color: var(--bg-white-secound);
}

.enterprise-main-container .enterprise-container {
    max-width: 64rem;
    margin: 0 auto;
    width: 100%;
}

.content-and-button {
    display: flex;
    justify-content: space-between;
    padding-bottom: 48px;
    gap: 24px;
}

.content-and-button .content {
    max-width: 40rem;
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.content-and-button .content h4 {
    font-size: 12px;
    color: var(--green-background);
    font-family: 'Giest mono';
    font-weight: 500;
    letter-spacing: -0.1px;
    line-height: 18px;
    text-transform: uppercase;
}

.content-and-button .content h3,
.customer-content h2 {
    font-size: 40px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: -0.8px;
    color: var(--main-black-color);
}

.content-and-button .content p {
    color: var(--lite-black-color);
    font-size: 16px;
}

.content-and-button a,
.two-buttons button {
    padding: 7px 24px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 500;
    border: 0;
    font-family: 'inter';
    border: 1px solid #ffffff0c;
    line-height: 22px;
    background-color: var(--main-black-color);
    align-self: flex-end;
    text-decoration: none;
    color: var(--main-white);
    cursor: pointer;
    transition: all ease 0.2s;
}
.content-and-button a:hover,
.two-buttons button:hover{
    background-color: var(--lite-black-color);
}
.enterprise-detail{
    margin: 24px 0;
    padding-bottom: 48px;
    display: flex;
    gap: 48px;
}
.enterprise-detail svg{
    width: 32px;
    height: 32px;
}
.enterprise-detail h4{
    margin-top: 32px;
    margin-bottom: 16px;
    letter-spacing: -0.2px;
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
    color: var(--main-black-color);
}
.enterprise-detail p{
    color: var(--lite-black-color);
    line-height: 24px;
}
.enterprise-image{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}
.enterprise-image .image{
    padding: 64px;
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
    background-image: url('/enterprise/enterpriceanthropic.svg');
    height: 512px;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
}
.enterprise-image .image:hover::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: red; */
    z-index: 99;
    inset: 0;
    background-image: linear-gradient(
        to bottom right, transparent, rgba(0,0,0,0.3)
        );
    transition: all ease 0.3s;
}
.enterprise-image .image> p{
    font-size: 12px;
    color: var(--main-white);
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'Giest mono';
    letter-spacing: 0.6px;
    line-height: 18px;
}
.enterprise-image .image h3{
    color: var(--main-white);
    line-height: 32px;
    font-weight: 500;
    letter-spacing: -0.24px;
    font-size: 24px;
    margin-top: 16px;
    max-width: 22rem;
}
.enterprise-image .image> .read{
    margin-top: 32px;
}
.enterprise-image .image> .read span{
    color: var(--main-white);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.3px;
    display: flex;
    align-items: center;
    gap: 6px;
}
.enterprise-image .image> .read span svg{
    width: 10px;
    height: 10px;
    transform: rotate(-90deg);
}
.counting{
    display: flex;
    margin-top: 137px;
    align-items: start;
    gap: 28px;
}
.counting> div{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 12rem;
}
.counting> div .number{
    font-size: 40px;
    letter-spacing: -0.8px;
    color: var(--main-white);
}
.counting> div .desc{
    color: var(--bg-white-secound);
    font-size: 14px;
    line-height: 24px;
}
.enterprise-logo{
    margin-top: 16px;
    padding: 12px 24px;
}
.enterprise-logo .logo-series{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
}
.enterprise-logo .logo-series .image{
    /* background-color: red; */
    width: 140px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.customer-main-container{
    padding: 72px 0;
    overflow: hidden;
}
.customer-content{
    max-width: 64rem;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 48px 32px;
    gap: 16px;
} 
.customer-content p{
    color: var(--lite-black-color);
    font-size: 16px;
    text-align: center;
    line-height: 24px;
}
.carousel-customer-logo{
    position: relative;
    width: 100%;
    padding: 0 0 0 18%;
}
.carousel-content{
    display: flex;
    overflow: visible;
}
.carousel{
    max-width: 410px;
    padding-left: 16px;
    width: 100%;
    flex-shrink: 0;
    cursor: pointer;
}
.carousel .carousel-image{
    height: 290px;
    overflow: hidden;
    margin-bottom: 8px;
    border-radius: 20px;
    position: relative;
}
.carousel .carousel-image:hover::after{
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
    z-index: 1;
    transition: all ease 0.3s;
}
.carousel .carousel-image svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 230px;
    height: 45px;
}
.carousel .carousel-para{
    display: flex;
    flex-direction: column;
    padding: 12px 0;
    gap: 24px;
}
.carousel .carousel-para p{
    color: var(--lite-black-color);
    font-size: 16px;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    line-height: 24px;
    text-overflow: ellipsis;
}
.carousel .carousel-para a{
    text-decoration: none;
    color: var(--carousel-inactive);
    font-weight: 500;
}
.carousel .carousel-para a:hover{
    color: var(--green-background);
}
.carousel .carousel-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carousel-button{
    padding-top: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel-button button{
    display: flex;
    justify-content: center;
    width: 36px;
    height: 26px;
    border: 0;
    background-color: transparent;
}
.carousel-button button i{
    width: 23px;
    height: 23px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-black-color);
    color: var(--main-white);
    border-radius:20px;
}
.carousel-button button:nth-child(1) i{
    background-color: var(--carousel-inactive);
}
.documentation-main-container{
    padding: 120px 24px;
    /* background-color: var(--bg-white-secound); */
    background-image: linear-gradient(to bottom, #FFF, #F7F7F7);
}
.documentation-container{
    max-width: 988px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.documentation-container h3{
    margin: 0 auto;
    max-width: 440px;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    letter-spacing: -0.8px;
    line-height: 44px;
}
.documentation-container p{
    margin-top: 16px;
    color: var(--lite-black-color)
}
.two-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 48px;
}
.two-buttons button:nth-child(2){
    border: 1px solid #94949475;
    background-color: transparent;
    color: var(--main-black-color);
}
.two-buttons button:nth-child(2):hover{
    background-color: var(--bg-white-secound);   
}
.icon-with-text{
    margin-top: 56px;
}
.icon-with-text .icon-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 64rem;
    margin: 0 auto;
    width: 100%;
}
.icon-container> div{
    padding: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 32px;

}
.icon-container> div:nth-child(1){
    border-right: 1px solid #acacac27;
}
.icon-container> div .svg-container{
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.4);
    padding: 10px;
    border: 1px solid #ffffff25;
    border-radius: 14px;
}
.icon-container .icon-heading{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}
.icon-container .icon-heading h4{
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.2px;
    line-height: 26px;
}
.icon-container .icon-heading p{
    font-size: 16px;
    color: var(--lite-black-color);
    font-weight: 500;
}
.icon-container svg{
    width: 32px;
    height: 32px;
}
.icon-container> div a{
    color: var(--green-background);
    text-decoration: none;
    font-weight: 500;
}

/* main end */

/* footer start */
footer{
    border-top: 1px solid #acacac27;
    background-color: var(--bg-white-secound);
}
.footer-main-container{
    max-width: 1022px;
    margin: 0 auto;
    width: 100%;
    border-right: 1px solid #acacac27;
    border-left: 1px solid #acacac27;
}
.footer-main-container .logo-social-icon{
    padding: 64px 32px 24px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #acacac27;
}
.footer-main-container .logo-social-icon .social-icon {
    display: flex;
    align-items: center;
    gap: 16px;
}
.footer-main-container .logo-social-icon .social-icon i{
    font-size: 20px;
    color: var(--lite-black-color);
    cursor: pointer;
}
.footer-links{
    padding: 48px 32px 72px 32px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.footer-links .heading-link h3{
    padding: 6px 12px;
    margin-bottom: 4px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.65px;
    line-height: 19px;
    font-size: 13px;
    color: var(--footer-heading);
}
.footer-links .heading-link ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
}
.footer-links .heading-link ul li{
    list-style: none;
}
.footer-links .heading-link ul li a{
    text-decoration: none;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: 500;
    transition: all ease 0.2s;
    color: var(--main-black-color);
    border-radius: 20px;
}
.footer-links .heading-link ul li a:hover{
    background-color: lab(2.42579 -0.165291 -0.470081 / 0.042);
}
.footer-main-container .security{
    border-top: 1px solid #acacac27;
    padding: 24px 32px;
    display: flex;
    align-items: center;
    gap: 24px;
}
.footer-main-container .security div svg{
    width: 60px;
    height: 60px;
}
.footer-extra-info{
    padding: 32px 32px 96px 32px;
    border-top: 1px solid #acacac27;
    display: flex;
    justify-content: space-between;

}
.footer-extra-info .footer-batch a{
    display: flex;
    padding: 4px 12px;
    gap: 6px;
    background-color: #acacac27;
    text-decoration: none;
    font-size: 13px;
    align-items: center;
    color: var(--main-black-color);
    border-radius: 20px;
    font-weight: 500;
    line-height: 19px;
}
.footer-extra-info .footer-batch a svg{
    width: 11px;
    height: 11px;
}
.footer-copyright p{
    font-size: 13px;
    font-weight: 500;
    color: var(--footer-heading);
}
.footer-dark-mode div{
    padding: 4px 2px;
    background-color:lab(2.42579 -0.165291 -0.470081 / 0.091);
    border-radius: 20px;
}
.footer-dark-mode div i{
    /* width: 23px;
    height: 23px; */
    color: var(--footer-heading);
    font-size: 14px;
    padding: 6px;
    /* display: flex; */
}
.footer-dark-mode div i:nth-child(2){
    color: var(--main-black-color);
    background-color: var(--main-white);
    border-radius: 40px;
}
/* footer end */
